@font-face {
    font-family: DayRoman;
    font-style: normal;
    font-weight: normal;
    src:url("../fonts/DayRoman.ttf");
}
@font-face {
    font-family: DayRoman;
    font-style: italic;
    font-weight: normal;
    src:url("../fonts/DayRomanItalic.ttf");
}
@font-face {
    font-family: DayRoman;
    font-style: normal;
    font-weight: bold;
    src:url("../fonts/DayRomanBold.ttf");
}
body {
    font-family: "DayRoman";
}
.chapterlinks a {
    display:inline-block;
	padding:5px;
	margin:1px;
	color:black;
	text-align:center;
	background-color:white;
	text-decoration:none;
	border-style: outset;
	border-width:2px;
    border-radius:6px;
}
.tableofcontents a {
    display:inline-block;
	padding:4px;
	margin:1px;
	color:black;
	text-align:center;
	background-color:white;
	text-decoration:none;
	border-style: outset;
	border-width:2px;
    border-radius:6px;
}
h2 a {
    color:black;
    text-decoration: none;
}
h1 a {
    color: black;
    text-decoration: none;
}